.select {
    width: 100%;
    border: none !important;
    outline: none !important;
    border-radius: 0.25rem;
    font-family: inherit;
}

.cellContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    justify-self: center;
    width: 100%;
    padding: 0.75em;
    background-color: white;
    height: 2rem;
    border-radius: 0.25rem;
}