.ag-theme-quartz {
    --ag-selected-row-background-color: var(--ag-row-hover-color) !important;
    --ag-font-family: inherit !important;
    --ag-foreground-color: white !important;
    --ag-background-color: transparent !important;
    --ag-header-background-color: transparent !important ;
    // --ag-row-hover-color : black !important;
    --ag-border-color: rgba(255, 255, 255, 0.05) !important;
    --ag-borders-critical: none !important;
    --ag-borders-secondary: none !important;
    --ag-tooltip-background-color: var(--color-dark-3) !important;
    --ag-tooltip-text-color: black !important;
    // --ag-header-height: 50px !important;
    --ag-borders: none !important;
    --ag-data-color: white !important;
}

.ag-cell .ag-input-wrapper {
    color: black !important;
}

/* Labels And Title */
.ag-header-cell-label {
    justify-content: center;
}

/* Inputs */
.ag-input-field-input {
    background-color: rgba(255, 255, 255, 0.1) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.pagination {
    font-family: inherit !important;
}
